html, body {

    margin: 0;
    height: 100%;
    overflow: hidden
  }
  
  html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }
  
  html { overflow-y: hidden; }
  
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }