.main_logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;  }

.press_start{
    display: flex;
    margin-left: auto;
    margin-right: auto;  }

body {
    background-color: black;
}

.audio_player{
    display: flex;
    margin-left: auto;
    margin-right: auto;  
}

.health {
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-item  {
    width: 200px;
    height: 200px;
    padding:  1px 1px 1px 1px ;
      }
    
  .flex-item:hover {
    cursor: pointer;
    outline-style: solid;
    outline-color: #ffdf59;
    outline-width: 2px;
    box-sizing: border-box;
  }

.countUpRedP1 {
  color: red;
  font-size:50pt;
  margin-bottom: -100px;
  margin-left: 250px;
  font-family: Arial, Helvetica, sans-serif;
}
.countDownRedCPU {
  color: red;
  font-size:50pt;
  margin-top: 40px;
  margin-right: 250px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
}

.countUpGreenP1 {
  color: green;
  font-size:50pt;
  margin-left: 240px;
  margin-bottom:-200px;
  font-family: Arial, Helvetica, sans-serif;

  }

  .countUpGreenCPU {
    color: green;
    font-size:50pt;
    margin-top: 50px;
    margin-right: 250px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
  }


button{
    background-color: #e05f14;
    border: none;    
    color: black;
    padding: 8px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.2s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
  }

  button:hover {opacity: 1}

  .fight_button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    height: 400px;
    width: 600px;
}

  .home_button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
}

.fight_bg{
  margin:0 auto;
  background: url(/src/fight.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.DaFightImg{
  /* position: fixed; */
  margin-left: 180px;
  margin-top: 90px;
  height: 200px;
  width: 200px;
}

.DaDetails {
  list-style:none;
  font-family: Arial, Helvetica, sans-serif;
} 
.name{
  color: white;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 110px;
}
.bio{
  margin-top: 20px;
  color: black;
  max-width: 320px;
  margin-left: 90px;
  text-align: center;
}
.attack1{
  margin-left: 90px;
  color: black;
}
.attack2{
  margin-left: 90px;
  color: black;
}
.heal{
  margin-left: 90px;
  color: black;
}

.CPUImage{
  /* position: fixed; */
margin-left: 1020px;
height: 200px;
  width: 200px;
  }

.CPUName{
  float: right;
  color: white;
  font-size: x-large;
  margin-top: -360px;
  margin-right: 200px;
  text-align: center;

}
.CPUBio{
  float: right;
  color: black;
  max-width: 320px;
  margin-top: -300px;
  margin-right: 140px;
  text-align: center;
}
.CPUAttack1{
  float: right;
  color: black;
  margin-top: -220px;
  margin-right: 140px;
}
.CPUAttack2{
  float: right;
  color: black;
  margin-top: -170px;
  margin-right: 140px;
} 
.CPUHeal{
  float: right;
  color: black;
  margin-top: -120px;
  margin-right: 140px;
}